Repository misakey/frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:api, publish:auth, publish:crypto, publish:helpers, publish:hooks, publish:store, publish:ui, build_maintenance, pages

publish:api:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: api
  script:
  - make deploy-package

publish:auth:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: auth
  script:
  - make deploy-package

publish:crypto:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: crypto
  script:
  - make deploy-package

publish:helpers:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: helpers
  script:
  - make deploy-package

publish:hooks:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: hooks
  script:
  - make deploy-package

publish:store:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: store
  script:
  - make deploy-package

publish:ui:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: ui
  script:
  - make deploy-package

build_maintenance:
  stage: build
  image: docker:19.03.8
  tags:
  - misakey_docker
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build-maintenance
  - make deploy-maintenance

pages:
  stage: deploy
  tags:
  - misakey_js
  script:
  - mv public public_unpublished
  - cp -r styleguide public
  artifacts:
    paths:
    - public

hotfix: ack box
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
  src/hooks/useFetchBoxDetails/index.js
  src/hooks/usePaginateBoxesByStatus/index.js
  src/hooks/usePaginateBoxesByStatus/index.test.js
  src/packages/auth/src/components/OidcProvider/Dialog/SigninRedirect/index.js
  src/packages/hooks/src/useWebSocket/index.js
  src/packages/store/src/reducers/helpers/processStrategies.js
  src/store/reducers/box/index.js
Due: pages

refacto: turn some crypto hooks into thunk actions
  src/components/screens/Auth/Login/Secret/index.js
  src/components/screens/app/Account/Read/Password/index.js
  src/constants/locales/en/common.json
  src/constants/locales/fr/common.json
  src/packages/crypto/src/hooks/useCreateNewBackupShares.js
  src/packages/crypto/src/hooks/useHandleBackupKeySharesFromAuthFlow.js
  src/packages/crypto/src/hooks/useLoadSecretsWithPassword.js
  src/packages/crypto/src/secretsBackup/keySplitting.js
  src/packages/crypto/src/store/actions/createNewBackupKeyShares.js
  src/packages/crypto/src/store/actions/createNewBackupKeySharesFromAuthFlow.js
  src/packages/crypto/src/store/actions/preparePasswordChange.js
Due: none

fix: no details about password auth in signinredirect
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
  src/packages/auth/src/components/OidcProvider/Dialog/SigninRedirect/index.js
Due: pages

Resolve "POC a web worker to make app faster"
  package.json
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/smart/Box/Event/Message/File/Card.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/File/Context/index.js
  src/index.js
  src/packages/crypto/src/box/decryptFile/index.js
  src/packages/crypto/src/box/decryptFile/worker/index.js
  src/packages/crypto/src/box/decryptFile/worker/loader.js
  src/packages/crypto/src/box/decryptFile/worker/singleton.js
  src/packages/crypto/src/box/encryptFile/index.js
  src/packages/crypto/src/box/encryptFile/worker/index.js
  src/packages/crypto/src/box/encryptFile/worker/loader.js
  src/packages/crypto/src/box/encryptFile/worker/singleton.js
  yarn.lock
Due: none

feat: abortable xhr
  package.json
  src/components/dumb/ListItem/Blob/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/constants/Errors/classes/Files.js
  src/hooks/useUploadStatus/index.js
  src/packages/api/src/Endpoint/xhr/index.js
  src/packages/auth/package.json
  src/packages/helpers/package.json
  src/packages/helpers/src/builder/boxes/index.js
  src/packages/helpers/src/sleep/index.js
  src/packages/hooks/package.json
  src/packages/store/package.json
  src/packages/ui/package.json
  yarn.lock
Due: publish:auth, publish:helpers, publish:hooks, publish:store, publish:ui, pages

Resolve "Restricted info with backend ACR checks"
  src/components/screens/app/Account/Read/UserStorage/index.js
  src/components/screens/app/Boxes/Read/Closed/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/screens/app/Boxes/index.js
  src/components/smart/Box/CreateSuggestions/index.js
  src/components/smart/Dialog/Password/with/index.js
  src/components/smart/File/Preview/Image/index.js
  src/components/smart/File/Preview/index.js
  src/hooks/useEventBelongsToCurrentUser/index.js
  src/hooks/useShouldDisplayLockedScreen/index.js
  src/index.js
  src/middlewares/invalidSeclevel.js
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/auth/src/store/reducers/auth/index.js
  src/packages/crypto/src/helpers/setStorageBackupVersion.js
  src/packages/crypto/src/hooks/useFetchSecretBackup.js
  src/packages/crypto/src/hooks/useLoadSecretsFromShares.js
  src/packages/crypto/src/hooks/useLoadSecretsWithPassword.js
  src/packages/crypto/src/hooks/useWatchStorageBackupVersion.js
  src/packages/crypto/src/store/actions/concrete.js
  src/store/actions/warning.js
  src/store/schemas/Identity.js
Due: pages

Merge box-user and box-events websockets in a single ws
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/Read/Closed/index.js
  src/components/smart/Context/PaginateEventsByBox.js
  src/components/smart/WindowedList/UserBoxes/Row.js
  src/helpers/boxEvent/index.js
  src/hooks/useFetchBoxDetails/index.js
  src/hooks/useFetchBoxDetails/onError.js
  src/hooks/useOnReceiveWSBoxEvent/index.js
  src/hooks/useOnReceiveWSUserBox/index.js
  src/hooks/usePaginateBoxesByStatus/index.js
  src/hooks/usePaginateBoxesByStatus/index.test.js
  src/hooks/usePaginateBoxesByStatus/missingPublicKeys/index.js
  src/hooks/usePaginateBoxesByStatus/updates/index.js
  src/hooks/usePaginateEventsByBox/index.js
  src/packages/helpers/src/execWithRequestIdleCallback/index.js
  src/store/reducers/box/index.js
  src/store/reducers/helpers/pagination/index.js
  src/store/reducers/helpers/pagination/index.test.js
  src/store/reducers/index.js
  src/store/reducers/userBoxes/pagination/events/index.js
  src/store/reducers/userBoxes/pagination/index.js
  src/store/reducers/userBoxes/pagination/index.test.js
Due: none

fix: micro rewording
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/List/Content/NoVault/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
Due: none

Pass access token in cookie instead of localStorage and implement anti CSRF
  src/components/screens/Auth/Login/Secret/index.js
  src/hooks/useIdentity/index.js
  src/packages/api/src/Endpoint/send/index.js
  src/packages/api/src/Endpoint/xhr/index.js
  src/packages/auth/src/builder/backup.js
  src/packages/auth/src/builder/backupKeyShares.js
  src/packages/auth/src/builder/loginAuthStep.js
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/auth/src/components/Redirect/AuthCallback/index.js
  src/packages/auth/src/components/Redirect/AuthCallbackWrapper/index.js
  src/packages/auth/src/helpers/index.js
  src/packages/auth/src/middlewares/APItoken.js
  src/packages/crypto/src/store/actions/createNewBackupKeySharesFromAuthFlow.js
  src/packages/hooks/src/useGetConsentInfo/index.js
  src/packages/hooks/src/useWebSocket/index.js
Due: pages

remove menu action in box footer, and replace icon to use attachment icon instead of plus
  src/components/screens/app/Boxes/Read/Events/Footer/Creating/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/Input/Boxes/Upload/index.js
Due: none

Auth: reimplement silent auth with access token in cookie
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/auth/src/components/Redirect/AuthCallback/index.js
  src/packages/auth/src/helpers/addCsrfTokenToUser.js
  src/packages/auth/src/helpers/index.js
  src/packages/auth/src/helpers/userManager.js
  src/packages/auth/src/hooks/useAuthFlowParams/index.js
Due: pages

feat: use identifier.id instead of value to consider creator/admin/self
  src/components/dumb/Form/Field/File/index.js
  src/components/dumb/ListItem/Member/index.js
  src/components/smart/Box/Event/Deleted/Preview.js
  src/helpers/boxEvent/index.js
  src/helpers/sender/index.js
  src/hooks/useBoxBelongsToCurrentUser/index.js
  src/hooks/useEventBelongsToCurrentUser/index.js
  src/hooks/useOnReceiveWSUserBox/index.js
  src/packages/auth/src/store/reducers/auth/index.js
  src/store/reducers/box/index.js
  src/store/schemas/Boxes/Sender/index.js
Due: pages

Box: fix subtitle on closed box and long name displaying on box list
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/Read/Events/AppBar/index.js
  src/components/smart/ListItem/Boxes/index.js
Due: none

make link to internal pages open in the same tab
  src/components/smart/Box/Event/Message/Text.js
  src/packages/hooks/src/useAnchorme/callback.js
  src/packages/ui/src/Footer/index.js
  src/packages/ui/src/theme/index.js
Due: pages

paginated scroll: use only overflowAnchor to scroll to bottom, when user is not at end of list, disable overflow anchor
  src/components/dumb/Card/Event/index.js
  src/components/smart/Box/Event/Message/File/Card.js
  src/components/smart/File/Preview/Image/index.js
  src/components/smart/File/Preview/index.js
  src/components/smart/PaginatedList/BoxEvents/index.js
  src/components/smart/WindowedList/Autosized/index.js
  src/components/smart/WindowedList/UserBoxes/index.js
  src/constants/locales/en/fields.json
Due: none

Resolve "Inconsistency between tabs event ack"
  src/components/dumb/Form/Field/Files/index.js
  src/components/smart/Route/Authenticated/BoxRead/index.js
  src/constants/app/boxes/ws/messageTypes.js
  src/hooks/useOnAckWSUserBox/index.js
  src/hooks/useOnReceiveWSUserBox/index.js
  src/packages/helpers/src/formikError/index.js
Due: none

auth: fix mutitabs auto sync state
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/auth/src/helpers/userManager.js
  src/packages/crypto/src/hooks/useLoadSecretsFromShares.js
  src/packages/crypto/src/hooks/useWatchStorageBackupKeyShares.js
Due: pages

fix: missing store param for invalid seclevel middleware
  src/index.js
Due: none

style: remove unused identity confirmed code
  src/constants/Errors/classes/AuthNotConfirmedConflict.js
Due: none

fix: 927 - usermanager throws when localstorage not available
  src/components/smart/Screen/Error/index.js
  src/constants/locales/en/common.json
  src/constants/locales/fr/common.json
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/auth/src/helpers/userManager.js
  src/packages/helpers/src/storage/index.js
  src/packages/ui/src/Screen/Error/index.js
Due: pages

Auth: fix unknown error at the end of auth flow
  src/components/dumb/Snackbar/Action/Refresh.js
  src/components/smart/SnackbarProvider/index.js
  src/constants/locales/en/common.json
  src/constants/locales/fr/common.json
  src/index.js
  src/packages/auth/src/components/OidcProvider/Dialog/SigninRedirect/index.js
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/auth/src/components/Redirect/AuthCallback/index.js
  src/packages/auth/src/components/Redirect/AuthCallbackWrapper/index.js
  src/packages/auth/src/helpers/userManager.js
  src/packages/auth/src/hooks/useAuthFlowParams/index.js
Due: pages

reword: only you can access
  public/locales/en/boxes.json
  public/locales/en/document.json
  public/locales/fr/boxes.json
  public/locales/fr/document.json
Due: none

change docker tag for running in frontend server
  .gitlab-ci.yml
  src/components/screens/app/Boxes/List/index.js
  src/components/screens/app/Profile/index.js
  src/components/smart/ListItem/File/index.js
  src/components/smart/WindowedList/InfiniteLoaded/Grid/index.js
  src/components/smart/WindowedList/InfiniteLoaded/index.js
Due: none

box: Implement mute options on boxes and fix login as ACR1
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/AppBar/Tabs.js
  src/components/screens/app/Boxes/Read/Events/AppBar/index.js
  src/components/screens/app/Boxes/index.js
  src/components/screens/app/Home/index.js
  src/components/smart/ListItem/Boxes/Mute/index.js
  src/components/smart/ListItem/Boxes/Share/index.js
  src/components/smart/ListItem/Boxes/index.js
  src/components/smart/MenuItem/Box/Leave/index.js
  src/components/smart/MenuItem/Box/Mute/index.js
  src/components/smart/MenuItem/Event/AddToVault/index.js
  src/constants/app/boxes/ws/messageTypes.js
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
  src/hooks/useOnReceiveWSUserBox/index.js
  src/hooks/useUpdateBoxSettings/index.js
  src/packages/api/src/API/endpoints/types/identities/index.js
  src/packages/auth/src/components/OidcProvider/Dialog/SigninRedirect/index.js
  src/packages/auth/src/store/reducers/auth/index.js
  src/packages/helpers/src/builder/identities/index.js
  src/store/schemas/Boxes/index.js
Due: pages

sessionexpired: prefer session expired over insufficient acr when we don't know
  src/packages/auth/src/components/OidcProvider/Dialog/SigninRedirect/index.js
Due: pages

fix: in file explorer, all encrypted files in a box are marked as "added by you"
  src/components/screens/app/Boxes/Read/Files/Cell.js
  src/components/smart/Box/Event/Message/File/Card.js
  src/components/smart/ListItem/File/index.js
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
Due: none

fix: Consent screen in dark mode is broken
  src/components/App/index.js
  src/components/screens/Auth/Consent/index.js
  src/components/screens/Auth/Login/Identifier/index.js
  src/components/screens/Auth/Login/Secret/index.js
  src/components/screens/Auth/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/Creating/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/components/screens/app/Boxes/index.js
  src/components/smart/Box/Event/Submit/Context/index.js
  src/components/smart/Context/Boxes/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/PaginatedList/BoxEvents/index.js
  src/packages/auth/src/components/Redirect/AuthCallback/index.js
  src/packages/ui/src/Screen/Loader/index.js
  src/packages/ui/src/Screen/index.js
Due: pages

fix: account view for ACR1
  src/components/dumb/Card/Identity/index.js
Due: none

fix: Auth flow always ask for password while it shouldn't
  src/components/screens/app/Boxes/List/Content/NoVault/index.js
  src/components/smart/ListItem/File/index.js
  src/packages/auth/src/components/Route/Acr/index.js
Due: pages

fix: wait for dispatch(createNewBackupKeyShares())
  src/packages/crypto/src/store/actions/createNewBackupKeySharesFromAuthFlow.js
Due: none

Resolve "Format file size fail with english language"
  package.json
  src/i18n.js
  yarn.lock
Due: none

user: Implement misakey chat for user notifs
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/dumb/AppBar/Drawer/ToggleButton/index.js
  src/components/dumb/Card/Event/index.js
  src/components/screens/app/Boxes/List/Content/NoVault/index.js
  src/components/screens/app/Boxes/Read/Closed/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/screens/app/Boxes/Read/Files/index.js
  src/components/screens/app/Boxes/Read/MustJoin/index.js
  src/components/screens/app/Boxes/Read/NoAccess/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/components/screens/app/Documents/Read/Vault/index.js
  src/components/screens/app/Home/index.js
  src/components/screens/app/Identity/Public/ReadOnly.js
  src/components/screens/app/Notifications/Row.js
  src/components/screens/app/Notifications/index.js
  src/components/screens/app/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/ListItem/Notifications/Misakey/index.js
  src/components/smart/WindowedList/InfiniteLoaded/Chat/index.js
  src/components/smart/WindowedList/UserBoxes/Row.js
  src/components/smart/WindowedList/UserBoxes/index.js
  src/constants/app/notifications/byIdentity/index.js
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
  src/hooks/useOnReceiveWSUserBox/index.js
  src/packages/api/src/API/endpoints/types/identities/index.js
  src/packages/helpers/src/builder/identities/index.js
  src/routes.js
  src/store/actions/identity/notifications.js
  src/store/reducers/identity/notifications.js
  src/store/reducers/index.js
  src/store/schemas/Notifications/Identity.js
Due: none

Resolve "Add the ability to delete or leave a box for which we lost key"
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/LeaveBoxDialogButton.js
  src/components/smart/Dialog/Boxes/Close/index.js
  src/components/smart/Dialog/Boxes/CloseDelete/index.js
  src/components/smart/Dialog/Boxes/Leave/index.js
  src/components/smart/ListItem/Boxes/Close/index.js
  src/components/smart/ListItem/Boxes/Leave/index.js
  src/components/smart/ListItem/Boxes/index.js
  src/components/smart/MenuItem/Box/Close/index.js
  src/components/smart/MenuItem/Box/CloseDelete/index.js
  src/components/smart/MenuItem/Box/Delete/index.js
  src/components/smart/MenuItem/Box/Mute/index.js
  src/hooks/useBoxRights/index.js
  src/hooks/useFetchBoxDetails/index.js
  src/packages/ui/src/Dialog/Confirm/index.js
Due: pages

correct a few misleading things in crypto
  public/locales/en/boxes.json
  public/locales/en/document.json
  public/locales/fr/boxes.json
  public/locales/fr/document.json
  src/components/screens/app/Boxes/Read/Files/index.js
  src/components/screens/app/Documents/Read/Vault/Cell.js
  src/components/screens/app/Documents/Read/Vault/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/Dialog/Upload/BlobsField.js
  src/components/smart/Dialog/Upload/index.js
  src/components/smart/Dialog/Vault/Upload.js
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
  src/constants/validationSchemas/boxes.js
  src/constants/validationSchemas/files.js
  src/hooks/useSaveFileInVault/index.js
  src/packages/api/src/API/endpoints/types/identities/index.js
  src/packages/api/src/Endpoint/xhr/index.js
  src/packages/crypto/src/box/encryptFile/index.js
  src/packages/crypto/src/files/index.js
  src/packages/crypto/src/vault/index.js
  src/packages/crypto/src/vault/workers/encryptFile/loader.js
  src/packages/crypto/src/vault/workers/encryptFile/singleton.js
  src/packages/helpers/src/builder/vault/index.js
  src/packages/ui/src/Fab/Add/index.js
Due: pages

Transform ScreenDrawer to ContextProvider component, to simplify code and props
  src/components/screens/app/Boxes/List/Header/List/index.js
  src/components/screens/app/Boxes/List/Header/Search/index.js
  src/components/screens/app/Boxes/None/index.js
  src/components/screens/app/Boxes/Read/Closed/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/Creating/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/screens/app/Boxes/Read/Files/index.js
  src/components/screens/app/Boxes/Read/MustJoin/index.js
  src/components/screens/app/Boxes/Read/NoAccess/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/components/screens/app/Boxes/index.js
  src/components/screens/app/Documents/Read/Vault/index.js
  src/components/screens/app/Documents/index.js
  src/components/screens/app/Home/index.js
  src/components/screens/app/Identity/Public/ReadOnly.js
  src/components/screens/app/Notifications/index.js
  src/components/screens/app/Profile/Home/index.js
  src/components/screens/app/Profile/index.js
  src/components/screens/app/VaultLocked/index.js
  src/components/smart/Drawer/Account/Onboard/index.js
  src/components/smart/Screen/Drawer/AppBar/ToggleButton/index.js
  src/components/smart/Screen/Drawer/AppBar/index.js
  src/components/smart/Screen/Drawer/index.js
Due: none

setisdrawerforceclosed: remove force close of drawer except when user is not auth on public profile screen
  src/components/dumb/Card/Identity/Header.js
  src/components/dumb/Card/Onboard/Discover/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/components/screens/app/Identity/Avatar/Display/image.js
  src/components/screens/app/Identity/Public/ReadOnly.js
  src/packages/ui/src/Box/Alinea/index.js
Due: pages

Auto sign in redirect on user expired
  src/index.js
  src/packages/auth/src/components/OidcProvider/index.js
Due: pages

Resolve "Error thrown by misakey notification when not auth on `/boxes`"
  src/components/screens/app/Boxes/List/Content/NoVault/index.js
  src/components/screens/app/Boxes/List/Header/List/index.js
  src/components/screens/app/Boxes/List/Header/Search/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/screens/app/Home/index.js
  src/components/smart/ListItem/Boxes/index.js
  src/components/smart/ListItem/Notifications/Misakey/index.js
  src/components/smart/Screen/Drawer/AppBar/index.js
  src/components/smart/WindowedList/UserBoxes/Row.js
  src/packages/helpers/src/omit/routeProps.js
Due: none

Path conditions:
  publish:api: any of: src/packages/api/package.json
  publish:auth: any of: src/packages/auth/package.json
  publish:crypto: any of: src/packages/crypto/package.json
  publish:helpers: any of: src/packages/helpers/package.json
  publish:hooks: any of: src/packages/hooks/package.json
  publish:store: any of: src/packages/store/package.json
  publish:ui: any of: src/packages/ui/package.json
  build_maintenance: any of: maintenance/*
  pages: any of: src/packages/ui/**/*, src/packages/auth/**/*, styleguide/**/*, styleguide.config.js
