Repository misakey/frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:api, publish:auth, publish:crypto, publish:helpers, publish:hooks, publish:store, publish:ui, build_maintenance, pages

publish:api:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: api
  script:
  - make deploy-package

publish:auth:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: auth
  script:
  - make deploy-package

publish:crypto:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: crypto
  script:
  - make deploy-package

publish:helpers:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: helpers
  script:
  - make deploy-package

publish:hooks:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: hooks
  script:
  - make deploy-package

publish:store:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: store
  script:
  - make deploy-package

publish:ui:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: ui
  script:
  - make deploy-package

build_maintenance:
  stage: build
  image: docker:19.03.8
  tags:
  - misakey_docker
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build-maintenance
  - make deploy-maintenance

pages:
  stage: deploy
  tags:
  - misakey_js
  script:
  - mv public public_unpublished
  - cp -r styleguide public
  artifacts:
    paths:
    - public

build: update packages, remove package animate.css
  package.json
  src/components/App/App.scss
  src/components/dumb/Form/Field/Rating/Rating.md
  src/components/smart/ExpansionPanel/Contact/From/index.js
  src/hooks/useNotDoneEffect/index.test.js
  src/packages/auth/package.json
  src/packages/hooks/package.json
  src/packages/store/package.json
  src/packages/ui/package.json
  src/packages/ui/src/Button/Connect/NoToken/NoToken.md
  yarn.lock
Due: publish:auth, publish:hooks, publish:store, publish:ui, pages

fix: update matomo siteid
  helm/config.preprod.yaml
Due: none

feat: update docs.misakey.com to about.misakey.com
  README.md
  maintenance/index.html
  public/locales/fr/citizen.json
  public/locales/fr/dpo.json
  src/constants/locales/fr/components.json
  src/constants/locales/fr/landing.json
Due: build_maintenance

fix: make loginredirect work in app
  src/components/App/index.js
Due: none

feat: translate sso in english
  public/locales/en/auth.json
  src/components/dumb/Screen/Splash/index.js
  src/components/dumb/Screen/index.js
  src/constants/locales/en/common.json
  src/constants/locales/en/components.json
  src/constants/locales/en/fields.json
  src/i18n.js
Due: none

feat: put footer in position absolute and lighten the screen component
  src/components/dumb/Footer/FullScreen/index.js
  src/components/dumb/Screen/Action/index.js
  src/components/dumb/Screen/index.js
  src/components/screens/Account/Home/index.js
  src/components/smart/Route/AccessRequest/Choose/index.js
  src/components/smart/Route/AccessRequest/Error/index.js
Due: none

feat: some little betatest improvement
  helm/config.preprod.yaml
  helm/config.prod.yaml
  public/locales/en/auth.json
  public/locales/fr/auth.json
  src/components/dumb/Avatar/Application/Sso.js
  src/components/dumb/Box/Controls/index.js
  src/components/newScreens/Auth/Login/Secret/index.js
  src/constants/locales/en/common.json
  src/constants/locales/en/fields.json
  src/constants/locales/fr/common.json
  src/constants/locales/fr/fields.json
  src/constants/validationSchemas/auth.js
  src/i18n.js
  src/packages/auth/src/hooks/useRenewAuthStep/index.js
  src/packages/hooks/src/useHandleHttpErrors/index.js
  src/packages/hooks/src/useHandleHttpErrors/index.test.js
Due: pages

feat: add a redirection to the landing page
  src/components/App/index.js
Due: none

feat: New boxes screens - create box
  public/locales/fr/boxes.json
  src/components/App/index.js
  src/components/dumb/Dialog/Title/WithCloseIcon/index.js
  src/components/dumb/Event/Box/Information/index.js
  src/components/dumb/Event/Box/Message/Text.js
  src/components/newScreens/app/Boxes/List/ListHeader/index.js
  src/components/newScreens/app/Boxes/Read/Events/Footer/Menu/index.js
  src/components/newScreens/app/Boxes/Read/Events/index.js
  src/components/newScreens/app/Home/index.js
  src/components/smart/Avatar/CurrentUser/index.js
  src/components/smart/Dialog/Boxes/Create/index.js
  src/components/smart/Dialog/Boxes/Upload/BlobsField.js
  src/components/smart/Dialog/Boxes/Upload/TmpBlobField.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/WindowedList/UserBoxes/index.js
  src/constants/locales/fr/fields.json
  src/constants/validationSchemas/boxes.js
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/helpers/src/builder/boxes/index.js
  src/packages/helpers/src/builder/users/index.js
  src/store/schemas/Boxes/Events/index.js
  src/store/schemas/Boxes/index.js
Due: pages

feat: 577 - ability to logout
  public/locales/en/auth.json
  public/locales/fr/auth.json
  src/components/App/index.js
  src/components/dumb/Avatar/index.js
  src/components/dumb/Button/Account/index.js
  src/components/dumb/Card/Profile/Thumbnail/index.js
  src/components/dumb/Link/Account/index.js
  src/components/newScreens/Auth/Login/Secret/index.js
  src/components/newScreens/app/Home/index.js
  src/components/newScreens/app/Identifiers/Drawer/index.js
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
  src/packages/api/src/API/endpoints/types/auth/index.js
  src/packages/auth/src/builder/signOut.js
  src/packages/auth/src/components/Button/SignOut/SignOut.md
  src/packages/auth/src/components/Button/SignOut/index.js
  src/packages/ui/src/Button/Connect/Connect.md
  src/packages/ui/src/Button/Connect/Token/Token.md
  src/packages/ui/src/Button/Submit/Submit.md
  src/packages/ui/src/Button/index.js
Due: pages

feat: New box screens - details view
  public/locales/fr/boxes.json
  src/components/dumb/Event/Box/Information/index.js
  src/components/dumb/Event/Box/Message/Text.js
  src/components/dumb/Event/Box/Message/index.js
  src/components/dumb/Event/Card/index.js
  src/components/dumb/Field/Text/Password/index.js
  src/components/dumb/PasswordPrompt/index.js
  src/components/newScreens/app/Boxes/List/ListHeader/index.js
  src/components/newScreens/app/Boxes/List/index.js
  src/components/newScreens/app/Boxes/Read/Details/index.js
  src/components/newScreens/app/Boxes/Read/Events/Footer/index.js
  src/components/newScreens/app/Boxes/Read/Events/index.js
  src/components/newScreens/app/Boxes/Read/Files/index.js
  src/components/smart/Dialog/Boxes/Create/index.js
  src/components/smart/Dialog/Password/index.js
  src/components/smart/Dialog/Password/with/index.js
  src/components/smart/withBulkContact/index.js
  src/constants/app/boxes/events/index.js
  src/constants/locales/fr/fields.json
  src/constants/validationSchemas/boxes.js
  src/hooks/useGroupEventsByDate/index.js
  src/packages/api/src/API/endpoints/types/boxes/index.js
  src/packages/crypto/src/HttpApi.js
  src/packages/crypto/src/store/actions/helpers.js
  src/packages/crypto/src/store/reducer.js
  src/packages/helpers/src/builder/boxes/index.js
  src/packages/hooks/src/useGeneratePathKeepingSearch/index.js
  src/store/actions/databox.js
  src/store/reducers/box.js
  src/store/reducers/request.js
  src/store/schemas/Boxes/Events/index.js
  src/store/schemas/Boxes/index.js
Due: none

feat: make snackbar closable
  src/components/dumb/Snackbar/Action/Hide.js
  src/index.js
Due: none

fix: caniuse outdated
  .eslintrc
  package.json
  yarn.lock
Due: none

feat: Display members of boxes on box details view
  public/locales/fr/boxes.json
  src/components/dumb/ElevationScroll/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/smart/withBoxDetails/index.js
  src/packages/helpers/src/builder/boxes/index.js
  src/store/reducers/box.js
  src/store/schemas/Boxes/Events/index.js
  src/store/schemas/Boxes/Sender/index.js
  src/store/schemas/Boxes/index.js
Due: none

feat: redirect to previous screen after auth
  src/components/App/index.js
  src/components/oldScreens/Account/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/components/smart/Avatar/CurrentUser/index.js
  src/components/smart/withIdentity/index.js
  src/packages/auth/src/components/Redirect/AuthCallback/index.js
  src/packages/helpers/src/auth/index.js
Due: pages

feat: update readme
  README.md
Due: none

feat: create ingressroute resources to use traefik in production
  helm/README.md
  helm/config.preprod.yaml
  helm/config.prod.yaml
  helm/frontend/templates/ingress-route.yaml
  helm/frontend/values.yaml
Due: none

feat: display last event on box list and do not filter on lifecycle
  public/locales/fr/boxes.json
  src/components/dumb/Event/Box/Information/index.js
  src/components/dumb/Event/Box/Message/File.js
  src/components/dumb/Event/Box/Message/Text.js
  src/components/dumb/Event/Box/Message/index.js
  src/components/dumb/ListItem/Boxes/index.js
  src/components/screens/app/Boxes/List/ListHeader/index.js
  src/components/screens/app/Boxes/List/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/smart/Box/Event/index.js
  src/components/smart/Dialog/Boxes/Create/index.js
  src/components/smart/Dialog/Boxes/Create/with/index.js
  src/components/smart/WindowedList/UserBoxes/index.js
  src/constants/app/boxes/statuses/index.js
  src/hooks/usePaginateBoxesByStatus/index.js
  src/packages/helpers/src/builder/boxes/index.js
  src/store/reducers/box.js
  src/store/reducers/userBoxes/pagination/index.js
  src/store/schemas/Boxes/Events/index.js
  src/store/schemas/Boxes/Sender/index.js
  src/store/schemas/Boxes/index.js
Due: none

feat: 593 - ability to auth with a password
  public/locales/en/auth.json
  public/locales/fr/auth.json
  src/components/dumb/Form/Field/Code/index.js
  src/components/oldScreens/Auth/Forgot/index.js
  src/components/oldScreens/Auth/SignUp/Finale/index.js
  src/components/screens/Auth/Login/Identifier/index.js
  src/components/screens/Auth/Login/Secret/Form/Fields/index.js
  src/components/screens/Auth/Login/Secret/index.js
  src/components/smart/Dialog/Password/index.js
  src/components/smart/Dialog/Password/with/index.js
  src/constants/auth/index.js
  src/constants/locales/en/fields.json
  src/constants/locales/fr/fields.json
  src/constants/validationSchemas/auth.js
  src/packages/api/src/API/endpoints/types/accounts/index.js
  src/packages/api/src/API/endpoints/types/index.js
  src/packages/auth/src/builder/accounts.js
  src/packages/auth/src/builder/fetchPwdHashParams.js
  src/packages/auth/src/builder/identities.js
  src/packages/auth/src/builder/loginAuthStep.js
  src/packages/auth/src/constants/method.js
  src/packages/auth/src/helpers/method.js
  src/packages/auth/src/passwordHashing/constants.js
  src/packages/auth/src/passwordHashing/hashPassword.js
  src/packages/auth/src/store/actions/sso/index.test.js
  src/packages/auth/src/store/reducers/sso/index.js
  src/packages/auth/src/store/reducers/sso/index.test.js
  src/packages/crypto/src/store/actions/ensureSecretsLoaded.js
  src/packages/hooks/src/useActions/loginSecret.js
  src/packages/ui/src/Form/Field/index.js
  src/packages/ui/src/Form/Fields/index.js
Due: pages

feat: enc/decryption of text messages
  public/locales/fr/boxes.json
  src/components/App/index.js
  src/components/dumb/Event/Box/Message/Text.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Invitation/index.js
  src/components/smart/Button/Download/Blob/index.js
  src/components/smart/Dialog/Boxes/Create/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/packages/crypto/src/box/decryptText.js
  src/packages/crypto/src/box/encryptText.js
  src/packages/crypto/src/crypto.test.js
  src/packages/crypto/src/crypto/index.js
  src/packages/crypto/src/databox/crypto.js
  src/packages/crypto/src/databox/crypto.test.js
  src/packages/crypto/src/databox/cryptoUtils.js
  src/packages/crypto/src/databox/cryptoUtils.test.js
  src/packages/crypto/src/helpers/base64.js
  src/packages/crypto/src/hooks/usePublicKeysWeCanDecryptFrom.js
  src/packages/crypto/src/store/actions/concrete.js
  src/packages/crypto/src/store/reducer.js
Due: none

feat: Implement ability to close box
  public/locales/fr/boxes.json
  src/components/dumb/Event/Box/Information/index.js
  src/components/screens/app/Boxes/Read/Closed/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/components/smart/withBoxDetails/index.js
  src/constants/app/boxes/events/index.js
  src/store/reducers/box.js
Due: none

fix: load secret backup is broken
  src/components/dumb/PasswordPrompt/index.js
  src/components/screens/app/Boxes/List/ListHeader/index.js
  src/components/screens/app/Boxes/List/SearchHeader/index.js
  src/components/screens/app/Boxes/List/index.js
  src/packages/crypto/src/HttpApi.js
  src/packages/crypto/src/hooks/usePublicKeysWeCanDecryptFrom.js
  src/packages/crypto/src/store.test.js
Due: none

feat: save new secret keys in secretBackup on box creation
  public/locales/fr/boxes.json
  src/components/App/index.js
  src/components/dumb/Event/Box/Message/Text.js
  src/components/screens/app/Boxes/List/Content/VaultLocked/index.js
  src/components/screens/app/Boxes/List/Content/VaultOpen/index.js
  src/components/screens/app/Boxes/List/Header/List/index.js
  src/components/screens/app/Boxes/List/Header/Search/index.js
  src/components/screens/app/Boxes/List/index.js
  src/components/screens/app/Boxes/None/index.js
  src/components/screens/app/Boxes/Read/Closed/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/screens/app/Boxes/Read/Files/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/components/screens/app/Identifiers/Drawer/index.js
  src/components/screens/app/Invitation/index.js
  src/components/screens/app/index.js
  src/components/smart/Avatar/CurrentUser/index.js
  src/components/smart/Box/Event/index.js
  src/components/smart/Dialog/Boxes/Create/with/index.js
  src/components/smart/Dialog/Password/index.js
  src/components/smart/Dialog/Password/with/Button.js
  src/components/smart/Dialog/Password/with/index.js
  src/components/smart/withBoxDetails/index.js
  src/constants/locales/en/common.json
  src/constants/locales/fr/common.json
  src/constants/validationSchemas/boxes.js
  src/packages/crypto/src/hooks/useLoadSecretsWithPassword.js
  src/packages/crypto/src/store/actions/concrete.js
  src/packages/crypto/src/store/reducer.js
  src/store/schemas/Boxes/index.js
Due: none

feat: revert commented code for temporary fix
  src/packages/crypto/src/hooks/usePublicKeysWeCanDecryptFrom.js
Due: none

feat: 612 - pp tos consent
  public/locales/en/auth.json
  public/locales/fr/auth.json
  src/components/screens/Auth/Consent/index.js
  src/components/screens/Auth/index.js
  src/constants/locales/en/components.json
  src/constants/locales/fr/common.json
  src/constants/locales/fr/components.json
  src/packages/api/src/API/endpoints/types/auth/index.js
  src/packages/api/src/index.test.js
  src/packages/auth/src/builder/consent.js
  src/packages/auth/src/components/List/Consent/index.js
  src/packages/auth/src/components/ListItem/Privacy/index.js
  src/packages/auth/src/components/ListItem/TOS/index.js
  src/packages/auth/src/constants/consent.js
  src/packages/auth/src/store/reducers/index.js
  src/routes.js
Due: pages

feat: 600 - reset password of an account
  src/components/dumb/Card/Identity/Thumbnail/index.js
  src/components/dumb/Typography/Title/WithCancelIcon/index.js
  src/components/dumb/Typography/Title/index.js
  src/components/oldScreens/Auth/Forgot/Subtitle.js
  src/components/oldScreens/Auth/Forgot/index.js
  src/components/screens/Auth/Login/Secret/index.js
  src/components/screens/Auth/Login/index.js
  src/components/screens/Auth/index.js
  src/components/screens/app/Identifiers/Drawer/index.js
  src/components/smart/Dialog/Password/Create/index.js
  src/components/smart/Dialog/Password/Reset/index.js
  src/components/smart/Dialog/Password/with/index.js
  src/constants/Errors/classes/AuthStepAlreadyExistsConflict.js
  src/constants/auth/index.js
  src/constants/validationSchemas/auth.js
  src/packages/auth/src/builder/accounts.js
  src/packages/auth/src/builder/loginAuthStep.js
  src/packages/auth/src/builder/resetPassword.js
  src/packages/auth/src/components/Button/ForgotPassword/index.js
  src/packages/auth/src/components/Button/RenewAuthStep/index.js
  src/packages/auth/src/constants/method.js
  src/packages/auth/src/helpers/errors.js
  src/packages/auth/src/helpers/method.js
  src/packages/auth/src/hooks/useCancelForgotPassword/index.js
  src/packages/auth/src/hooks/useRenewAuthStep/index.js
  src/packages/auth/src/store/reducers/sso/index.js
  src/packages/hooks/src/useActions/loginSecret.js
  src/packages/ui/src/Avatar/Detailed/Skeleton.js
  src/packages/ui/src/Avatar/Detailed/index.js
  src/routes.js
Due: pages

fix: cleanup app before release
  src/components/dumb/Dialog/Confirm/index.js
  src/components/screens/app/Boxes/None/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/constants/locales/en/common.json
  src/constants/locales/fr/common.json
Due: none

feat: implement web share api
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/Read/Details/index.js
Due: none

feat: msg.file events
  src/components/dumb/Event/Box/Message/File.js
  src/components/dumb/Event/Box/Message/Text.js
  src/components/dumb/Event/Box/Message/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/Menu/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/smart/Box/Event/index.js
  src/components/smart/Button/Download/Blob/index.js
  src/components/smart/Dialog/Boxes/Upload/TmpBlobField.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/packages/api/src/API/endpoints/types/boxes/index.js
  src/packages/crypto/src/box/decryptFile.js
  src/packages/crypto/src/box/decryptFileMsg.js
  src/packages/crypto/src/box/encryptFile.js
  src/packages/crypto/src/box/fileEncryption.test.js
  src/packages/crypto/src/crypto/core.js
  src/packages/crypto/src/crypto/index.js
  src/packages/crypto/src/helpers/blobFromUint8array.js
  src/packages/crypto/src/helpers/uint8arrayFromBlob.js
  src/packages/helpers/src/builder/boxes/index.js
  src/store/schemas/Boxes/index.js
Due: none

feat: hide non implemented features from identifier drawer
  helm/config.preprod.yaml
  helm/config.prod.yaml
  src/components/App/index.js
  src/components/screens/app/Identifiers/Drawer/index.js
Due: none

feat: translate boxes in english
  public/locales/en/boxes.json
  public/locales/fr/admin.json
  public/locales/fr/boxes.json
  public/locales/fr/citizen.json
  public/locales/fr/dpo.json
  public/locales/fr/plugin.json
Due: none

fix: close menu actions on success and unify text on text and files messages
  src/components/dumb/Event/Box/Message/File.js
  src/components/screens/app/Boxes/Read/Events/Footer/Menu/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
Due: none

fix: identity not updated when token changes
  public/locales/en/auth.json
  public/locales/fr/auth.json
  src/components/smart/Dialog/Password/Reset/index.js
  src/packages/auth/src/components/Redirect/AuthCallback/index.js
  src/packages/auth/src/store/reducers/helpers/createResetOnSignOutReducer/index.js
Due: pages

fix: hide account button for now
  src/components/dumb/Card/Identity/Thumbnail/index.js
Due: none

fix: bugs fixes on boxes
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/dumb/ListItem/Blob/index.js
  src/components/screens/app/Boxes/List/Content/VaultLocked/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Identifiers/Drawer/index.js
  src/components/smart/WindowedList/Autosized/index.js
  src/packages/auth/src/components/Button/SignOut/index.js
Due: pages

Path conditions:
  publish:api: any of: src/packages/api/package.json
  publish:auth: any of: src/packages/auth/package.json
  publish:crypto: any of: src/packages/crypto/package.json
  publish:helpers: any of: src/packages/helpers/package.json
  publish:hooks: any of: src/packages/hooks/package.json
  publish:store: any of: src/packages/store/package.json
  publish:ui: any of: src/packages/ui/package.json
  build_maintenance: any of: maintenance/*
  pages: any of: src/packages/ui/**/*, src/packages/auth/**/*, styleguide/**/*, styleguide.config.js
