Repository misakey/frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:api, publish:auth, publish:crypto, publish:helpers, publish:hooks, publish:store, publish:ui, build_maintenance, pages

publish:api:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: api
  script:
  - make deploy-package

publish:auth:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: auth
  script:
  - make deploy-package

publish:crypto:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: crypto
  script:
  - make deploy-package

publish:helpers:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: helpers
  script:
  - make deploy-package

publish:hooks:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: hooks
  script:
  - make deploy-package

publish:store:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: store
  script:
  - make deploy-package

publish:ui:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: ui
  script:
  - make deploy-package

build_maintenance:
  stage: build
  image: docker:19.03.8
  tags:
  - misakey_docker
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build-maintenance
  - make deploy-maintenance

pages:
  stage: deploy
  tags:
  - misakey_js
  script:
  - mv public public_unpublished
  - cp -r styleguide public
  artifacts:
    paths:
    - public

fix: 717 - handle not found and forbidden hydra errors during auth flow
  public/locales/en/auth.json
  public/locales/fr/auth.json
  src/components/dumb/Snackbar/Action/AuthRestart.js
  src/components/screens/Auth/Login/Secret/index.js
  src/packages/auth/src/helpers/errors.js
Due: pages

fix: misakey-preview image
  public/img/misakey-preview.png
Due: none

feat: allow to set title less than 5 characters and generate one if none is given
  src/components/smart/Dialog/Boxes/Create/index.js
  src/constants/validationSchemas/boxes.js
  src/packages/helpers/src/getRandomTitle/index.js
  src/packages/helpers/src/getRandomTitle/lists/adjectives.js
  src/packages/helpers/src/getRandomTitle/lists/landProducts.js
Due: none

fix: og description
  public/index.html
Due: none

fix: avatar of users are not displayed in box details
  src/components/screens/app/Boxes/Read/Details/index.js
Due: none

fix: avatars of user are not displayed on box details
  public/index.html
  src/components/screens/app/Boxes/Read/Details/index.js
Due: none

feat: serialize backup key before export
  public/locales/en/account.json
  public/locales/fr/account.json
  src/components/dumb/Card/Identity/index.js
  src/components/dumb/Footer/FullScreen/index.js
  src/components/dumb/Link/Account/Misakey/index.js
  src/components/dumb/ListItem/Boxes/index.js
  src/components/oldScreens/Account/ExportCrypto/ExportButton.js
  src/components/oldScreens/Account/ExportCrypto/index.js
  src/components/screens/app/Account/Read/Vault/index.js
  src/components/screens/app/Account/Read/index.js
  src/components/screens/app/Account/index.js
  src/components/smart/Card/Download/BackupKey/index.js
  src/components/smart/Dialog/Password/OpenVault/index.js
  src/components/smart/Dialog/Password/with/Button.js
  src/components/smart/Dialog/Password/with/index.js
  src/components/smart/ListItem/NavLink/Misakey/index.js
  src/components/smart/Screen/Drawer/index.js
  src/constants/locales/en/common.json
  src/constants/locales/en/fields.json
  src/constants/locales/fr/common.json
  src/hooks/useDownloadBackupKey/index.js
  src/packages/crypto/src/hooks/useLoadSecretsWithPassword.js
  src/packages/crypto/src/store/actions/exportCrypto.js
  src/routes.js
Due: none

fix: update not in whitelist modal
  helm/config.preprod.yaml
  helm/config.prod.yaml
  public/env.js
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/smart/Dialog/Boxes/Create/index.js
Due: none

feat: upgrade UI for end of boxes list
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/List/Content/NoVault/index.js
  src/components/smart/WindowedList/Autosized/index.js
  src/components/smart/WindowedList/UserBoxes/index.js
  src/constants/locales/en/common.json
  src/constants/locales/fr/common.json
  src/packages/ui/src/Button/index.js
Due: pages

fix: boxes english translations
  public/locales/en/boxes.json
Due: none

feat: Add intro message about e2ee in chats
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/dumb/Event/Box/Information/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/constants/app/boxes/events/index.js
Due: none

wip: "closed box" banner and box deletion
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  public/manifest.json
  src/components/dumb/Event/Box/Message/File.js
  src/components/dumb/Event/Box/Message/Text.js
  src/components/screens/app/Boxes/Read/Closed/index.js
  src/components/screens/app/Boxes/Read/Events/AppBar/index.js
  src/components/screens/app/Boxes/Read/Events/DeleteBoxDialogButton.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/screens/app/Boxes/Read/PasteLink/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/components/smart/Dialog/Boxes/Delete/index.js
  src/components/smart/ListItem/Boxes/Current/index.js
  src/components/smart/ListItem/Boxes/Deleted/index.js
  src/components/smart/ListItem/Boxes/index.js
  src/components/smart/WindowedList/UserBoxes/Row.js
  src/components/smart/WindowedList/UserBoxes/index.js
  src/components/smart/withBoxDetails/index.js
  src/constants/locales/en/common.json
  src/constants/locales/en/fields.json
  src/constants/locales/fr/common.json
  src/constants/validationSchemas/boxes.js
  src/hooks/useBoxBelongsToCurrentUser/index.js
  src/hooks/useGetShareMethods/index.js
  src/hooks/usePaginateBoxesByStatus/missingPublicKeys/index.js
  src/packages/api/src/API/endpoints/types/boxes/index.js
  src/packages/crypto/src/hooks/useBoxPublicKeysWeCanDecryptFrom.js
  src/packages/crypto/src/hooks/useHandleBoxKeyShare.js
  src/packages/crypto/src/store.test.js
  src/packages/crypto/src/store/actions/concrete.js
  src/packages/crypto/src/store/reducers/index.js
  src/packages/helpers/src/builder/boxes/index.js
  src/packages/ui/src/Icon/Stack/index.js
  src/store/reducers/box.js
Due: pages

feat: 752 - user does not understand how to share
  src/components/screens/app/Boxes/Read/Events/AppBar/index.js
Due: none

feat: Implement file preview in browser in chat view
  src/components/dumb/Box/File/index.js
  src/components/dumb/Event/Box/Message/File.js
  src/components/dumb/Event/Box/Message/File/Card.js
  src/components/dumb/Event/Box/Message/File/index.js
  src/components/dumb/Event/Card/index.js
  src/components/smart/Dialog/FilePreview/index.js
  src/constants/locales/en/common.json
  src/constants/locales/en/components.json
  src/constants/locales/fr/common.json
  src/constants/locales/fr/components.json
  src/packages/crypto/src/box/encryptFile.js
Due: none

fix: do not call locked vault too early
  src/components/screens/app/Boxes/index.js
  src/components/screens/app/Documents/index.js
  src/components/screens/app/Home/index.js
  src/hooks/useShouldDisplayLockedScreen/index.js
  src/packages/auth/src/hooks/useSignOut/index.js
Due: pages

feat: drag file on chat area and use loginhint to avoid user to retype their email
  src/components/dumb/Event/Card/index.js
  src/components/dumb/Form/Field/Files/index.js
  src/components/screens/Auth/Login/Identifier/index.js
  src/components/screens/Auth/Login/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/Menu/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/smart/Dialog/Boxes/Delete/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/Dialog/Password/with/index.js
  src/components/smart/Input/Boxes/Upload/Context/index.js
  src/components/smart/Input/Boxes/Upload/index.js
  src/constants/locales/en/components.json
  src/hooks/useOnIdentifierSubmit/index.js
  src/packages/auth/src/components/Redirect/AuthCallback/index.js
  src/packages/auth/src/components/Route/Acr/index.js
  src/packages/auth/src/components/Route/Authenticated/index.js
  src/packages/auth/src/components/Route/Private/index.js
  src/packages/auth/src/store/actions/auth/index.js
  src/packages/auth/src/store/reducers/auth/index.js
  src/packages/helpers/src/event/getFilesArray/index.js
  src/packages/helpers/src/fileListToArray/index.js
  src/packages/helpers/src/fileToBlob/index.js
  src/packages/hooks/src/useActions/loginSecret.js
  src/packages/hooks/src/useDrag.js
  src/packages/ui/src/Input/File/Base.js
  src/packages/ui/src/Input/File/index.js
  src/packages/ui/src/Typography/PreWrapped/index.js
Due: pages

fix: conflict error and disabled file preview for pdf
  src/components/smart/Dialog/FilePreview/index.js
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
  src/hooks/useSaveFileInVault/index.js
Due: none

feat: generate random name placeholder in create chat dialog
  src/components/smart/Dialog/Boxes/Create/index.js
Due: none

feat: use backup storage event, trigger event when loading secrets with pwd, force refresh of screen when crypto backup is unlocked via storage event
  src/components/screens/Auth/Consent/index.js
  src/components/screens/Auth/Login/Secret/index.js
  src/components/screens/app/Boxes/Read/PasteLink/index.js
  src/components/screens/app/Boxes/index.js
  src/components/screens/app/index.js
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/crypto/src/hooks/useBackupStorageEvent.js
  src/packages/crypto/src/hooks/useLoadSecretsWithPassword.js
  src/packages/helpers/src/locationToString/index.js
  src/packages/ui/src/Redirect/index.js
Due: pages

fix: remove useless nonce params on save a file
  src/hooks/useSaveFileInVault/index.js
Due: none

feat: add internationalization on typeforms
  helm/config.preprod.yaml
  helm/config.prod.yaml
  public/env.js
  src/components/smart/Link/Feedback/index.js
  src/constants/locales/en/components.json
  src/constants/locales/fr/components.json
Due: none

fix: add force pull to make build
  Makefile
Due: none

feat: disable file saving feature
  src/components/dumb/Tabs/DrawerMenu/index.js
  src/components/smart/Dialog/FilePreview/index.js
Due: none

feat: lint locales json files
  .eslintignore
  .eslintrc
  README.md
  devtools/git/hook--pre-commit.sh
  package.json
  src/constants/locales/en/fields.json
  yarn.lock
Due: none

fix: remove useless "chats" in the top of the chats list
  .gitlab-ci.yml
  src/components/dumb/Tabs/DrawerMenu/index.js
  src/components/screens/app/Boxes/List/Header/List/index.js
Due: none

feat: use ReactPiwik for Matomo to have router info
  helm/config.preprod.yaml
  helm/config.prod.yaml
  package.json
  public/env.js
  public/index.html
  public/initMatomo.js
  src/components/smart/Router/index.js
  src/index.js
  yarn.lock
Due: none

feat: 758 - user wants to follow links in chats
  package.json
  src/components/dumb/Event/Box/Message/Text.js
  src/components/dumb/Event/Card/index.js
  src/packages/helpers/src/anchorme/index.js
  src/packages/hooks/src/useAnchorme/callback.js
  yarn.lock
Due: none

feat: add ability to user to change main color
  maintenance/index.html
  package.json
  public/locales/en/account.json
  public/locales/fr/account.json
  src/components/dumb/AppBar/Drawer/index.js
  src/components/dumb/AppBar/Navigation/Base/index.js
  src/components/dumb/Card/Identity/index.js
  src/components/dumb/Footer/index.js
  src/components/dumb/Form/Field/CirclePicker/index.js
  src/components/dumb/Screen/Action/index.js
  src/components/dumb/Screen/index.js
  src/components/screens/app/Account/Read/index.js
  src/components/screens/app/Identity/Colors/index.js
  src/components/smart/Link/Feedback/index.js
  src/components/smart/Screen/Drawer/index.js
  src/components/smart/ThemeProvider/index.js
  src/constants/account/colors.js
  src/constants/fieldValidations/index.js
  src/constants/locales/en/fields.json
  src/constants/locales/fr/fields.json
  src/constants/validationSchemas/identity.js
  src/packages/helpers/src/omit/translationProps.js
  src/packages/ui/src/colors/ceriseRed.js
  src/packages/ui/src/theme/index.js
  src/packages/ui/static/sass/_colors.scss
  src/routes.js
  src/store/reducers/devicePreferences.js
  styleguide_config/theme.js
  yarn.lock
Due: build_maintenance, pages

fix: when color is null set color form crashes
  src/components/screens/app/Identity/Colors/index.js
  src/components/smart/Screen/Error/index.js
Due: none

feat: upgrade UI
  src/components/dumb/Avatar/Box/index.js
  src/components/dumb/Event/Box/Information/index.js
  src/components/dumb/Event/Card/Header/index.js
  src/components/screens/app/Boxes/Read/Events/index.js
  src/components/smart/ListItem/Boxes/index.js
Due: none

feat: cleanup account management
  src/components/dumb/Card/Identity/Thumbnail/index.js
  src/components/screens/app/Account/Read/index.js
  src/components/screens/app/Account/index.js
  src/components/smart/Drawer/Account/Content/index.js
  src/components/smart/Drawer/Account/index.js
Due: none

fix: rebase fixes + add footer into fullscreen modales
  helm/config.preprod.yaml
  helm/config.prod.yaml
  public/env.js
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/dumb/Card/Auth/index.js
  src/components/dumb/Screen/index.js
  src/components/smart/Dialog/Boxes/Create/index.js
  src/components/smart/Drawer/Account/Content/index.js
  src/components/smart/Screen/Error/index.js
  src/constants/fieldValidations/index.js
  src/constants/locales/en/common.json
  src/constants/locales/en/fields.json
  src/constants/locales/fr/common.json
  src/constants/locales/fr/fields.json
  src/constants/validationSchemas/identity.js
  src/hooks/useDispatchUpdateIdentity/index.js
  src/packages/api/src/API/endpoints/types/identities/index.js
  src/packages/api/src/index.test.js
  src/packages/auth/src/components/OidcProvider/Dialog/SigninRedirect/index.js
  src/packages/helpers/src/builder/identities/index.js
  src/packages/hooks/src/useIsUserOnWhitelist/index.js
  src/packages/ui/src/Footer/FullScreen/index.js
  src/packages/ui/src/Footer/index.js
Due: pages

feat: Reactivate vault space
  src/components/dumb/Box/Empty/index.js
  src/components/dumb/Card/Identity/Thumbnail/index.js
  src/components/dumb/Card/Identity/index.js
  src/components/dumb/Tabs/DrawerMenu/Skeleton.js
  src/components/dumb/Tabs/DrawerMenu/index.js
  src/components/screens/app/Account/List/index.js
  src/components/screens/app/Account/None/index.js
  src/components/screens/app/Account/Read/index.js
  src/components/screens/app/Account/index.js
  src/components/screens/app/Boxes/List/Content/Vault/index.js
  src/components/screens/app/Boxes/List/Header/List/index.js
  src/components/screens/app/Documents/List/index.js
  src/components/screens/app/Documents/None/index.js
  src/components/screens/app/Documents/Read/Vault/index.js
  src/components/screens/app/Documents/index.js
  src/components/screens/app/Home/index.js
  src/components/smart/Dialog/FilePreview/index.js
  src/components/smart/Link/Account/index.js
  src/components/smart/ListItem/File/index.js
  src/hooks/useSaveFileInVault/index.js
  src/packages/ui/src/constants/drawers.js
Due: pages

fix: documentation
  .gitlab-ci.yml
  src/components/dumb/Overlay/Error/index.js
  src/components/smart/Card/Auth/Header/index.js
  src/packages/hooks/src/useImportTypeformCallback/index.js
  src/packages/ui/src/FeedbackLink/index.js
  src/packages/ui/src/Footer/index.js
  src/packages/ui/src/Logo/index.js
Due: pages

Path conditions:
  publish:api: any of: src/packages/api/package.json
  publish:auth: any of: src/packages/auth/package.json
  publish:crypto: any of: src/packages/crypto/package.json
  publish:helpers: any of: src/packages/helpers/package.json
  publish:hooks: any of: src/packages/hooks/package.json
  publish:store: any of: src/packages/store/package.json
  publish:ui: any of: src/packages/ui/package.json
  build_maintenance: any of: maintenance/*
  pages: any of: src/packages/ui/**/*, src/packages/auth/**/*, styleguide/**/*, styleguide.config.js
