Repository misakey/frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:api, publish:auth, publish:crypto, publish:helpers, publish:hooks, publish:store, publish:ui, build_maintenance, pages

publish:api:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: api
  script:
  - make deploy-package

publish:auth:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: auth
  script:
  - make deploy-package

publish:crypto:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: crypto
  script:
  - make deploy-package

publish:helpers:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: helpers
  script:
  - make deploy-package

publish:hooks:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: hooks
  script:
  - make deploy-package

publish:store:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: store
  script:
  - make deploy-package

publish:ui:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: ui
  script:
  - make deploy-package

build_maintenance:
  stage: build
  image: docker:19.03.8
  tags:
  - misakey_docker_front
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build-maintenance
  - make deploy-maintenance

pages:
  stage: deploy
  tags:
  - misakey_js
  script:
  - mv public public_unpublished
  - cp -r styleguide public
  artifacts:
    paths:
    - public

boxEvent: do not override isSaved when value is undefined
  src/helpers/boxEvent/index.js
Due: none

avatarDetailed: overflowWrap anywhere on title and subtitle
  src/packages/ui/src/Avatar/Detailed/index.js
Due: pages

Misakey SDK
  .gitlab-ci.yml
  Dockerfile
  babel.config.js
  base-image.Dockerfile
  package.json
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/Dialog/Vault/Upload.js
  src/components/smart/File/Preview/Carousel/Context.js
  src/components/smart/File/Preview/Context.js
  src/packages/core/LICENSE.md
  src/packages/core/README.md
  src/packages/core/package.json
  src/packages/core/rollup.config.js
  src/packages/core/src/crypto/box/decryptFile/index.js
  src/packages/core/src/crypto/box/encryptFile/index.js
  src/packages/core/src/crypto/box/encryptFile/worker/index.js
  src/packages/core/src/crypto/box/fileEncryption.test.js
  src/packages/core/src/crypto/files/index.js
  src/packages/core/src/crypto/vault/index.js
  src/packages/sdk/.babelrc
  src/packages/sdk/.gitignore
  src/packages/sdk/.npmignore
  src/packages/sdk/LICENSE.md
  src/packages/sdk/README.md
  src/packages/sdk/example.js
  src/packages/sdk/package.json
  src/packages/sdk/src/httpApi.js
  src/packages/sdk/src/index.js
  src/packages/ui/package.json
  styleguide.config.js
  yarn.lock
Due: publish:ui, pages

fix: iat is in the future
  src/packages/core/src/auth/helpers/jwtUtils.js
  src/packages/react/src/auth/README.md
Due: none

fix: choose how to connect displayed 2 times for new users
  src/packages/react/src/auth/components/OidcProvider/Dialog/SigninRedirect/NoUser/index.js
  src/packages/react/src/auth/hooks/useOnIdentifierSubmit/index.js
Due: none

moving sdk to dedicated repository
  base-image.Dockerfile
  src/packages/sdk/.babelrc
  src/packages/sdk/.gitignore
  src/packages/sdk/.npmignore
  src/packages/sdk/LICENSE.md
  src/packages/sdk/README.md
  src/packages/sdk/example.js
  src/packages/sdk/package.json
  src/packages/sdk/src/httpApi.js
  src/packages/sdk/src/index.js
Due: none

core: update release command and readme
  src/packages/core/README.md
  src/packages/core/package.json
Due: none

fix: change about links from about.misakey.com to misakey.com/about
  README.md
  maintenance/index.html
  src/packages/ui/src/constants/locales/en/components.json
Due: build_maintenance, pages

DatatagNav: reuse current search params, override org only when available for datatag item, cleanup, refactor
  src/components/smart/Drawer/Organization/Content/index.js
  src/components/smart/Drawer/Organization/index.js
  src/components/smart/List/Datatags/index.js
  src/components/smart/List/Navigation/Organization/index.js
  src/components/smart/ListItem/Datatag/Link/index.js
  src/hooks/useFetchUserDatatags/index.js
  src/packages/core/src/api/API/endpoints/mocks/datatag/list.json
  src/packages/ui/src/constants/drawers.js
Due: pages

fix: query param org id for list datatags
  src/hooks/useFetchUserDatatags/index.js
Due: none

auth: Adapt `@misakey/core` and auth pages for `@misakey/sdk`"
  src/components/dumb/Card/Onboard/index.js
  src/components/screens/app/Profile/Public/ReadOnly.js
  src/components/smart/Dialog/Boxes/Contact/with.js
  src/components/smart/Route/Authenticated/BoxRead/index.js
  src/packages/core/src/auth/classes/OidcClient.js
  src/packages/core/src/auth/classes/SigninResponseError.js
  src/packages/core/src/auth/classes/UserManager.js
  src/packages/core/src/auth/helpers/computeNextAuthMethod.js
  src/packages/core/src/auth/helpers/getCbHintsKeyFromState.js
  src/packages/react/src/auth/README.md
  src/packages/react/src/auth/components/Button/ForgotPassword/Cancel/index.js
  src/packages/react/src/auth/components/Button/ForgotPassword/index.js
  src/packages/react/src/auth/components/Context/AuthCallbackHints/index.js
  src/packages/react/src/auth/components/OidcProvider/Dialog/SigninRedirect/NoUser/index.js
  src/packages/react/src/auth/components/OidcProvider/Dialog/SigninRedirect/index.js
  src/packages/react/src/auth/components/OidcProvider/index.js
  src/packages/react/src/auth/components/Redirect/AuthCallback/index.js
  src/packages/react/src/auth/components/Redirect/ToSignIn/index.js
  src/packages/react/src/auth/components/Route/Acr/index.js
  src/packages/react/src/auth/components/Route/Authenticated/index.js
  src/packages/react/src/auth/components/Route/PasswordRequired/index.js
  src/packages/react/src/auth/components/screens/Login/Identifier/NoAccount.js
  src/packages/react/src/auth/components/screens/Login/Identifier/index.js
  src/packages/react/src/auth/components/screens/Login/Secret/index.js
  src/packages/react/src/auth/components/screens/Login/index.js
  src/packages/react/src/auth/components/screens/index.js
  src/packages/react/src/auth/hooks/useAskSigninWithHints/index.js
  src/packages/react/src/auth/hooks/useAskToSetPassword/index.js
  src/packages/react/src/auth/hooks/useGetAskedAuthState/index.js
  src/packages/react/src/auth/hooks/useInitAuthStep/index.js
  src/packages/react/src/auth/hooks/useOnIdentifierSubmit/index.js
  src/packages/react/src/auth/store/actions/sso/index.test.js
  src/packages/react/src/auth/store/reducers/sso/index.js
  src/packages/react/src/auth/store/reducers/sso/index.test.js
  src/store/reducers/box/index.js
Due: none

use crypto provisions
  .eslintrc
  src/components/screens/app/Boxes/index.js
  src/components/smart/Route/Authenticated/BoxRead/index.js
  src/hooks/useAutojoinBoxInvitations/index.js
  src/hooks/useFetchBoxPublicInfo/index.js
  src/packages/core/src/api/helpers/builder/boxes/index.js
  src/packages/core/src/crypto/Errors/classes.js
  src/packages/core/src/crypto/HttpApi.js
  src/packages/core/src/crypto/box/keySplitting.js
  src/packages/core/src/crypto/provisions.js
  src/packages/react/src/crypto/hooks/useHandleBoxKeyShare.js
  src/packages/react/src/crypto/store/actions/addBoxesFromProvision.js
  src/packages/react/src/crypto/store/actions/processAutoInviteCryptoaction.js
Due: none

org: try to display logoUrl if existing
  src/components/smart/ListItem/Organization/Current/index.js
  src/components/smart/Popover/Organizations/index.js
  src/packages/ui/src/ListItem/Organization/index.js
Due: pages

fix: make UserManager compile with node
  src/packages/core/package.json
  src/packages/core/src/auth/classes/UserManager.js
Due: none

auth: enforce login hint reliability and improve loading UI
  src/packages/react/src/auth/components/OidcProvider/Dialog/SigninRedirect/NoUser/index.js
  src/packages/react/src/auth/components/screens/Login/Identifier/index.js
  src/packages/react/src/auth/components/screens/Login/Secret/index.js
  src/packages/react/src/auth/components/screens/Login/index.js
  src/packages/react/src/auth/components/screens/index.js
  src/packages/ui/src/Card/User/index.js
Due: pages

Auth: Stop validating jwt signature in auth flow and enforce usability of `@misakey/core` as a package
  helm/config.preprod.yaml
  helm/config.prod.yaml
  public/env.js
  src/packages/core/package.json
  src/packages/core/src/auth/classes/OidcClient.js
  src/packages/core/src/auth/classes/UserManager.js
  src/packages/core/src/auth/helpers/jwtUtils.js
  src/packages/core/src/helpers/execWithRequestIdleCallback/index.js
  src/packages/core/src/helpers/log/sentry/exception/index.js
  src/packages/react/src/auth/README.md
  src/packages/react/src/auth/components/OidcProvider/index.js
Due: none

feat: remove TOS/PP/OpenID from scope requesting
  src/packages/core/src/auth/classes/OidcClient.js
  src/packages/react/src/auth/components/OidcProvider/index.js
  src/packages/react/src/auth/components/screens/Consent/index.js
  src/packages/react/src/auth/store/actions/auth/index.test.js
  src/packages/react/src/auth/store/actions/sso/index.test.js
  src/packages/react/src/auth/store/reducers/auth/index.test.js
  src/packages/react/src/auth/store/reducers/sso/index.test.js
Due: none

Resolve "Consent Keys"
  src/packages/core/package.json
  src/packages/core/src/crypto/consentKeys.js
  src/packages/core/src/crypto/organizations.js
  src/packages/core/src/crypto/secretStorage/index.js
Due: none

Fix bk. changes from backend!369
  src/packages/core/src/crypto/consentKeys.js
  src/packages/react/src/auth/components/screens/Consent/index.js
Due: none

fix consent crypto
  src/packages/core/package.json
  src/packages/core/src/auth/builder/consent.js
  src/packages/core/src/helpers/objectToCamelCaseDeep/index.js
  src/packages/core/src/helpers/objectToSnakeCaseDeep/index.js
  src/packages/react/src/auth/components/screens/Consent/index.js
Due: none

bump core version (bad publish)
  src/packages/core/package.json
Due: none

Layout issues in mobile
  src/components/screens/app/Boxes/Read/Sharing/Form/index.js
  src/components/screens/app/Organizations/Read/Secret/Dialog/index.js
  src/components/screens/app/Organizations/Read/Secret/index.js
  src/components/smart/Autocomplete/Boxes/index.js
  src/components/smart/Autocomplete/Organization/index.js
  src/components/smart/ListItem/Organization/Self/index.js
  src/packages/ui/src/Box/Controls/index.js
  src/packages/ui/src/Menu/FullScreen/index.js
  src/packages/ui/src/theme/index.js
Due: pages

fix: delete box key shares and improve UX on workspaces list
  src/components/smart/List/Workspaces/index.js
  src/hooks/useOnReceiveWSUserBox/index.js
  src/packages/ui/src/Autocomplete/Whitelist/index.js
  src/packages/ui/src/constants/locales/en/common.json
  src/packages/ui/src/constants/locales/fr/common.json
Due: pages

fix: Handle errors from `/box-key-shares/encrypted-invitation-key-share` endpoint properly
  src/components/smart/Menu/Notifications/Misakey/Actions/BoxInvitationButton/JoinButton.js
  src/hooks/useFetchAutojoinBoxInvitations/index.js
Due: none

typo: useTranslation
  src/components/screens/app/Organizations/Read/Home/index.js
Due: none

dialogs: cleanup, box delete fix
  src/components/dumb/Dialog/Event/Delete/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/smart/Context/Boxes/Dialogs/index.js
  src/components/smart/Dialog/Boxes/Delete/index.js
  src/components/smart/ListItem/Boxes/index.js
  src/components/smart/MenuItem/Box/Delete/index.js
  src/components/smart/MenuItem/Event/Delete/index.js
  src/packages/hooks/src/useMountedState/index.js
  src/packages/ui/src/Dialog/Confirm/Context/index.js
  src/packages/ui/src/Dialog/Confirm/index.js
Due: pages

do not display members in box list for now
  src/components/smart/Avatar/Box/index.js
  src/components/smart/ListItem/Boxes/index.js
Due: none

fix: fetch user organizations again when a box from a new org come though ws, suggest only orgs allowed in create box dialog
  src/components/smart/Dialog/Boxes/Create/index.js
  src/components/smart/List/Workspaces/index.js
  src/components/smart/Menu/Account/index.js
  src/hooks/useAutojoinBoxInvitations/index.js
  src/hooks/useFetchOrganizations/callback.js
  src/hooks/useFetchOrganizations/index.js
Due: none

process "consent_key" cryptoactions
  src/packages/core/package.json
  src/packages/core/src/crypto/consentKeys.js
  src/packages/core/src/crypto/provisions.js
  src/packages/react/src/crypto/hooks/useHandleProvisionKeyShare.js
  src/packages/react/src/crypto/store/actions/addConsentKey.js
  src/packages/react/src/crypto/store/actions/processConsentKeyCryptoAction.js
  src/packages/react/src/crypto/store/actions/pullCryptoactions.js
  src/packages/react/src/crypto/store/actions/types.js
  src/packages/react/src/crypto/store/reducers/index.js
Due: none

Add simple signin route that redirects to auth flow with the params set in query
  src/components/screens/app/Profile/Public/ReadOnly.js
  src/index.js
  src/packages/core/src/auth/classes/OidcClient.js
  src/packages/core/src/auth/helpers/handlePureLoginRoute.js
  src/packages/core/src/auth/helpers/oidcClientRoutesWrapper.js
  src/packages/react/src/auth/README.md
  src/packages/react/src/auth/components/screens/Consent/index.js
Due: none

Resolve "Rework crypto provision consumption UX"
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/List/Content/Vault/index.js
  src/components/screens/app/Boxes/List/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/packages/core/src/auth/helpers/handlePureLoginRoute.js
  src/packages/react/src/crypto/hooks/useHandleProvisionKeyShare.js
  src/packages/ui/src/Avatar/Client/index.js
  src/packages/ui/src/Screen/Splash/Vault/index.js
Due: pages

config: fix the prod yaml config
  helm/config.prod.yaml
Due: none

Path conditions:
  publish:api: any of: src/packages/api/package.json
  publish:auth: any of: src/packages/auth/package.json
  publish:crypto: any of: src/packages/crypto/package.json
  publish:helpers: any of: src/packages/helpers/package.json
  publish:hooks: any of: src/packages/hooks/package.json
  publish:store: any of: src/packages/store/package.json
  publish:ui: any of: src/packages/ui/package.json
  build_maintenance: any of: maintenance/*
  pages: any of: src/packages/ui/**/*, src/packages/auth/**/*, styleguide/**/*, styleguide.config.js
