Repository misakey/frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:api, publish:auth, publish:crypto, publish:helpers, publish:hooks, publish:store, publish:ui, build_maintenance, pages

publish:api:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: api
  script:
  - make deploy-package

publish:auth:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: auth
  script:
  - make deploy-package

publish:crypto:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: crypto
  script:
  - make deploy-package

publish:helpers:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: helpers
  script:
  - make deploy-package

publish:hooks:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: hooks
  script:
  - make deploy-package

publish:store:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: store
  script:
  - make deploy-package

publish:ui:
  stage: deploy
  image: node:10.15.3
  tags:
  - misakey_js
  variables:
    PACKAGE: ui
  script:
  - make deploy-package

build_maintenance:
  stage: build
  image: docker:19.03.8
  tags:
  - misakey_docker_front
  before_script:
  - apk add make
  - apk add git
  - make docker-login
  script:
  - make build-maintenance
  - make deploy-maintenance

pages:
  stage: deploy
  tags:
  - misakey_js
  script:
  - mv public public_unpublished
  - cp -r styleguide public
  artifacts:
    paths:
    - public

replaceHash handle add hash
  src/packages/helpers/src/replaceHash/index.js
  src/packages/helpers/src/replaceHash/index.test.js
  src/packages/helpers/src/sentry/beforeSend/index.js
Due: none

invitation link renewal
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/dumb/ListItem/Blob/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/components/smart/ListItem/BoxLink/Share/index.js
  src/components/smart/ListItem/Boxes/Deleted/index.js
  src/components/smart/ListItem/Boxes/index.js
  src/components/smart/ListItem/File/index.js
  src/components/smart/Menu/BoxLink/index.js
  src/components/smart/MenuItem/BoxLink/Renew/index.js
  src/constants/app/boxes/events/index.js
  src/packages/crypto/src/HttpApi.js
  src/packages/crypto/src/hooks/useBoxPublicKeysWeCanDecryptFrom.js
  src/packages/crypto/src/hooks/useLoadSecretsFromShares.js
  src/packages/crypto/src/hooks/useLoadSecretsWithPassword.js
  src/packages/crypto/src/store/actions/changeBoxInvitationLink.js
  src/packages/crypto/src/store/actions/loadSecrets.js
  src/packages/crypto/src/store/actions/processSetBoxKeyShareCryptoAction.js
  src/packages/crypto/src/store/actions/pullCryptoactions.js
  src/packages/ui/src/Dialog/Confirm/DialogContent.js
  src/packages/ui/src/Dialog/Confirm/index.js
Due: pages

[Sentry] Remove hash part of breadcrumbs in logs
  src/index.js
  src/packages/helpers/src/replaceHash/index.js
  src/packages/helpers/src/replaceHash/index.test.js
  src/packages/helpers/src/sentry/beforeSend/index.js
  src/packages/helpers/src/sentry/beforeSend/index.test.js
Due: none

feat: add versionning to base image + host them on dockerhub
  .gitlab-ci.yml
  Dockerfile
  Makefile
  README.md
Due: none

update helmchart for dockerhub
  helm/config.preprod.yaml
  helm/frontend/templates/maintenance.yaml
  helm/frontend/values.yaml
Due: none

get lastest box key share in auto-invite flow
  src/packages/crypto/src/HttpApi.js
  src/packages/crypto/src/box/keySplitting.js
  src/packages/crypto/src/store/actions/processAutoInviteCryptoaction.js
Due: none

Boxes Delete : redirect before cleaning up deleted data. added usIsMountedRef. Check mounted before updating state
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/dumb/Dialog/Event/Delete/index.js
  src/components/screens/app/Boxes/Read/Closed/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/Events/AppBar/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/Creating/index.js
  src/components/screens/app/Boxes/Read/Events/Footer/Editing/index.js
  src/components/screens/app/Boxes/Read/Files/Cell.js
  src/components/screens/app/Boxes/Read/Files/index.js
  src/components/screens/app/Boxes/Read/MustJoin/index.js
  src/components/screens/app/Boxes/Read/index.js
  src/components/smart/Box/Event/Information/Preview/index.js
  src/components/smart/Box/Event/Information/index.js
  src/components/smart/Box/Event/Message/File/Card.js
  src/components/smart/Box/Event/Message/Text.js
  src/components/smart/Context/Boxes/BoxRead.js
  src/components/smart/Dialog/Boxes/Close/index.js
  src/components/smart/Dialog/Boxes/CloseDelete/index.js
  src/components/smart/Dialog/Boxes/Delete/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/Input/Boxes/Upload/index.js
  src/components/smart/ListItem/Boxes/Close/index.js
  src/components/smart/ListItem/Boxes/Share/index.js
  src/components/smart/ListItem/Boxes/index.js
  src/components/smart/MenuItem/Box/Close/index.js
  src/components/smart/MenuItem/Box/CloseDelete/index.js
  src/components/smart/MenuItem/Box/Delete/index.js
  src/constants/app/boxes/events/index.js
  src/constants/app/boxes/statuses/index.js
  src/constants/app/notifications/byIdentity/index.js
  src/hooks/useBoxRights/index.js
  src/hooks/useFetchBoxDetails/index.js
  src/hooks/useFetchBoxDetails/onError.js
  src/hooks/useOnReceiveWSUserBox/index.js
  src/packages/crypto/src/hooks/useHandleBoxKeyShare.js
  src/packages/hooks/src/useIsMountedRef/index.js
  src/store/reducers/box/index.js
  src/store/reducers/userBoxes/pagination/index.test.js
  src/store/schemas/Boxes/index.js
Due: none

set INLINE_RUNTIME_CHUNK to false in Dockerfile
  Dockerfile
Due: none

Resolve "Access management allow inviting multiple users google like"
  src/components/screens/app/Boxes/Read/Sharing/Form/Whitelist/index.js
  src/components/screens/app/Boxes/Read/Sharing/Form/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/components/smart/MenuItem/BoxLink/Renew/index.js
  src/constants/locales/en/fields.json
  src/constants/locales/fr/fields.json
  src/constants/validationSchemas/boxes.js
  src/packages/ui/src/Autocomplete/Whitelist/Field/index.js
  src/packages/ui/src/Autocomplete/Whitelist/index.js
  src/packages/ui/src/Chip/Domain/index.js
Due: pages

Resolve "Unable to change the box access mode"
  src/components/screens/app/Boxes/Read/Sharing/Form/index.js
  src/packages/ui/src/Autocomplete/Whitelist/Field/index.js
  src/packages/ui/src/Form/Field/SubmitOnChange/index.js
Due: pages

remove `ingressRoute` in helm files
  helm/config.preprod.yaml
  helm/config.prod.yaml
  helm/frontend/templates/ingress-route.yaml
  helm/frontend/values.yaml
Due: none

fix: missing withCsrfToken in contact endpoint config
  src/packages/api/src/API/endpoints/types/identities/index.js
Due: none

Slider: advanced sharing options, improved dialogs
  .gitlab-ci.yml
  Dockerfile
  Makefile
  package.json
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/dumb/Dialog/Account/Delete/index.js
  src/components/dumb/Dialog/Event/Delete/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/components/smart/Dialog/BoxLink/Share/with.js
  src/components/smart/Dialog/Boxes/Delete/index.js
  src/components/smart/List/SocialShare/index.js
  src/components/smart/ListItem/BoxLink/Share/index.js
  src/constants/locales/en/common.json
  src/constants/locales/fr/common.json
  src/hooks/useBoxShareMetadata/index.js
  src/hooks/useGetShareMethods/index.js
  src/packages/hooks/src/useCopy/index.js
  src/packages/ui/src/Box/Controls/index.js
  src/packages/ui/src/Button/Copy/index.js
  src/packages/ui/src/Button/Submit/index.js
  src/packages/ui/src/Dialog/Confirm/index.js
  src/packages/ui/src/DialogTitle/WithCloseIcon/index.js
  src/packages/ui/src/Typography/Irreversible/index.js
  src/packages/ui/src/constants/sizes.js
  yarn.lock
Due: pages

Resolve "Create a slider for image preview"
  src/components/dumb/IconButton/Appbar/index.js
  src/components/screens/app/Boxes/Read/Files/Cell.js
  src/components/screens/app/Boxes/Read/Files/index.js
  src/components/screens/app/Documents/Read/Vault/Cell.js
  src/components/screens/app/Documents/Read/Vault/index.js
  src/components/smart/Box/Event/Message/File/Card.js
  src/components/smart/Box/Event/Message/File/index.js
  src/components/smart/Carousel/FilePreview/EventFiles.js
  src/components/smart/Carousel/FilePreview/SavedFiles.js
  src/components/smart/Carousel/FilePreview/index.js
  src/components/smart/Dialog/FilePreview/Backdrop.js
  src/components/smart/Dialog/FilePreview/Paper.js
  src/components/smart/Dialog/FilePreview/WithFile.js
  src/components/smart/Dialog/FilePreview/index.js
  src/components/smart/File/Preview/Carousel/Context.js
  src/components/smart/File/Preview/Image/index.js
  src/helpers/boxEvent/index.js
  src/hooks/useDecryptMsgFile/callback.js
  src/hooks/useDecryptMsgFile/effect.js
  src/hooks/useDecryptMsgFileEffect/index.js
  src/hooks/useDecryptSavedFile/callback.js
  src/hooks/useDecryptSavedFile/effect.js
  src/hooks/useDecryptSavedFileEffect/index.js
  src/packages/ui/src/Dialog/Confirm/index.js
  src/packages/ui/src/IconButton/index.js
  src/packages/ui/src/theme/index.js
  src/store/reducers/box/index.js
  src/store/reducers/files/saved/decrypted/index.js
  src/store/reducers/files/saved/index.js
  yarn.lock
Due: pages

Resolve "Redesign access management"
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/dumb/ListItem/AccessLevel/index.js
  src/components/dumb/SelectItem/AccessLevel/index.js
  src/components/screens/app/Boxes/Read/Events/AppBar/ShareBoxButton.js
  src/components/screens/app/Boxes/Read/Sharing/Form/Whitelist/index.js
  src/components/screens/app/Boxes/Read/Sharing/Form/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/components/smart/Dialog/Boxes/Delete/index.js
  src/constants/app/boxes/accesses/index.js
  src/constants/app/boxes/events/index.js
  src/constants/validationSchemas/boxes.js
  src/helpers/accesses/index.js
  src/helpers/boxEvent/index.js
  src/hooks/useBoxAccesses/callback.js
  src/hooks/useBoxAccesses/effect.js
  src/packages/ui/src/Icon/Sharing/index.js
  src/packages/ui/src/ListItem/User/Whitelisted/index.js
  src/packages/ui/src/constants/accessLevels.js
  src/packages/ui/src/constants/accessModes.js
  src/store/schemas/Boxes/index.js
Due: pages

Event: wrong omit of date
  src/components/dumb/Card/Event/WithMenu/index.js
Due: none

Boxes : qa errors
  public/locales/en/boxes.json
  public/locales/fr/boxes.json
  src/components/screens/app/Boxes/Read/Sharing/Form/Whitelist/index.js
  src/components/screens/app/Boxes/Read/Sharing/Form/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/hooks/useDecryptMsgFile/effect.js
  src/hooks/useDecryptSavedFile/effect.js
Due: none

box: getNextMembers, no duplicate on add
  src/store/reducers/box/index.js
Due: none

update notif when invitation used
  src/components/screens/app/Notifications/Actions/AutoInvitationButton.js
  src/components/screens/app/Notifications/Row.js
  src/store/actions/identity/notifications.js
Due: none

fix: Vault screen stays empty on mobile when going out then back in vault
  src/components/screens/app/Boxes/Read/Files/index.js
  src/components/screens/app/Documents/Read/Vault/index.js
  src/components/smart/Box/Event/Message/File/Card.js
  src/components/smart/Dialog/FilePreview/Backdrop.js
  src/components/smart/Dialog/FilePreview/Paper.js
  src/components/smart/Dialog/FilePreview/index.js
  src/components/smart/WindowedList/InfiniteLoaded/Grid/index.js
Due: none

useDecryptMsgFileCallback: do not update decrypted file if name is already "encrypted"
  src/hooks/useDecryptMsgFile/callback.js
Due: none

Resolve "[user] is not sure password manager works with auth"
  src/components/screens/Auth/Login/Identifier/index.js
  src/components/screens/Auth/Login/Secret/index.js
  src/packages/ui/src/Form/Field/Login/Identifier/Hidden/index.js
  src/packages/ui/src/Form/Field/Login/Identifier/index.js
  src/packages/ui/src/Form/Field/Login/Secret/Hidden/index.js
  src/packages/ui/src/Form/Field/Login/Secret/index.js
  src/packages/ui/src/constants/autofill.js
Due: pages

fix: Partial display of my notifications
  src/components/smart/WindowedList/InfiniteLoaded/Chat/index.js
Due: none

upload: switch file or folder upload
  src/components/dumb/Form/Field/File/index.js
  src/components/dumb/Form/Field/Files/index.js
  src/components/smart/Dialog/Upload/index.js
  src/constants/locales/en/components.json
  src/constants/locales/en/fields.json
  src/constants/locales/fr/components.json
  src/packages/ui/src/Input/File/Folder/index.js
Due: pages

file upload: improvements
  src/components/dumb/Form/Field/Files/index.js
  src/components/smart/Dialog/Boxes/Upload/index.js
  src/components/smart/Dialog/Upload/index.js
  src/components/smart/Input/Boxes/Upload/index.js
  src/constants/locales/en/fields.json
  src/constants/locales/fr/fields.json
  src/packages/helpers/src/fileType/index.js
  src/packages/ui/src/Box/Message/index.js
  src/packages/ui/src/Box/Section/index.js
  src/packages/ui/src/Input/File/index.js
Due: pages

Pastelink: forceRefresh to avoid bugs, validate link is not current one
  src/components/screens/app/Boxes/Read/PasteLink/index.js
  src/constants/validationSchemas/boxes.js
Due: none

lastNotification: undefined at start, if there is none, it becomes null
  src/components/smart/ListItem/Notifications/Misakey/index.js
  src/store/reducers/identity/notifications.js
Due: none

setLastNotification: allow clearing last notification
  src/components/smart/ListItem/Notifications/Misakey/index.js
  src/store/actions/identity/notifications.js
Due: none

storeLastNotification: safe dispatch
  src/components/smart/ListItem/Notifications/Misakey/index.js
Due: none

storeLastNotif: no need to check for array
  src/components/smart/ListItem/Notifications/Misakey/index.js
Due: none

handleErrors: always log sentry exception
  src/packages/hooks/src/useHandleGenericHttpErrors/index.js
  src/packages/hooks/src/useHandleHttpErrors/index.js
Due: none

Resolve "Error snackbars without any errors in JS console or networ log in production"
  src/components/smart/ListItem/Notifications/Misakey/index.js
  src/packages/hooks/src/useHandleGenericHttpErrors/index.js
  src/packages/hooks/src/useHandleHttpErrors/index.js
  src/store/actions/identity/notifications.js
  src/store/reducers/identity/notifications.js
Due: none

fix: app cannot launch with babel runtime on IE11
  src/index.js
  yarn.lock
Due: none

fix: ScreenSlope position on IE11 and Edge
  src/packages/ui/src/Dialog/Paper/Slope/index.js
  src/packages/ui/src/Screen/Slope/index.js
Due: pages

identifier: remap identity.identifier, clear obsolete identifierId
  src/components/dumb/Card/Identity/Thumbnail/index.js
  src/components/dumb/Card/Identity/index.js
  src/components/dumb/ListItem/Member/index.js
  src/components/screens/Auth/Error/index.js
  src/components/screens/app/Account/Delete/index.js
  src/components/screens/app/Boxes/Read/Details/index.js
  src/components/screens/app/Boxes/Read/MustJoin/index.js
  src/components/screens/app/Boxes/Read/Sharing/Form/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/components/screens/app/Identity/Public/ReadOnly.js
  src/components/screens/app/Identity/Public/index.js
  src/components/screens/app/Notifications/Actions/AutoInvitationButton.js
  src/components/screens/app/Notifications/Row.js
  src/components/screens/app/VaultLocked/index.js
  src/components/smart/ListItem/Boxes/Consent/index.js
  src/constants/validationSchemas/boxes.js
  src/helpers/sender/index.js
  src/hooks/useOnIdentifierSubmit/index.js
  src/packages/api/src/API/endpoints/types/auth/index.js
  src/packages/api/src/API/endpoints/types/identities/index.js
  src/packages/auth/src/builder/identities.js
  src/packages/auth/src/builder/updateAuthIdentities.js
  src/packages/auth/src/components/Button/ForgotPassword/index.js
  src/packages/auth/src/components/Card/User/index.js
  src/packages/auth/src/store/reducers/auth/index.js
  src/packages/ui/src/Autocomplete/Whitelist/Field/index.js
  src/packages/ui/src/Autocomplete/Whitelist/index.js
  src/packages/ui/src/ListItem/User/Whitelisted/Member/index.js
  src/store/schemas/Boxes/Sender/index.js
  src/store/schemas/Identity.js
Due: pages

fix: app is broken on ie11
  src/index.js
  src/packages/ui/src/Dialog/Paper/Slope/index.js
  src/packages/ui/src/Screen/Slope/index.js
  yarn.lock
Due: pages

auth: Rework auth packages to fit with our flow and avoid storing user information in localStorage
  .gitlab-ci.yml
  Dockerfile
  helm/config.preprod.yaml
  helm/config.prod.yaml
  package.json
  public/env.js
  src/components/smart/ListItem/Notifications/Misakey/index.js
  src/components/smart/withIdentity/index.js
  src/hooks/useIdentity/index.js
  src/index.js
  src/packages/api/src/API/endpoints/types/auth/index.js
  src/packages/api/src/index.test.js
  src/packages/auth/package.json
  src/packages/auth/src/builder/userinfo.js
  src/packages/auth/src/classes/IFrameWindow.js
  src/packages/auth/src/classes/OidcClient.js
  src/packages/auth/src/classes/SigninResponseError.js
  src/packages/auth/src/classes/UserManager.js
  src/packages/auth/src/components/OidcProvider/Dialog/SigninRedirect/index.js
  src/packages/auth/src/components/OidcProvider/index.js
  src/packages/auth/src/components/Redirect/AuthCallback/index.js
  src/packages/auth/src/components/Redirect/AuthCallbackWrapper/index.js
  src/packages/auth/src/helpers/index.js
  src/packages/auth/src/helpers/jwtUtils.js
  src/packages/auth/src/helpers/mapOidcUserForStore.js
  src/packages/auth/src/helpers/silentAuth.js
  src/packages/auth/src/helpers/userManager.js
  src/packages/auth/src/hooks/useAuthFlowParams/index.js
  src/packages/auth/src/store/actions/auth/index.js
  src/packages/auth/src/store/actions/auth/index.test.js
  src/packages/auth/src/store/reducers/auth/index.js
  src/packages/auth/src/store/reducers/auth/index.test.js
  src/packages/helpers/src/parseJwt/index.js
  src/packages/helpers/src/validateProperties/index.js
  src/packages/hooks/src/useParseIdToken/index.js
  src/packages/ui/src/Card/User/index.js
  yarn.lock
Due: publish:auth, pages

Resolve "Improve theme"
  src/components/dumb/Form/Field/Files/index.js
  src/components/dumb/ListItem/Blob/index.js
  src/components/screens/app/Boxes/Read/Events/AppBar/ShareBoxButton.js
  src/components/screens/app/Boxes/Read/Events/AppBar/index.js
  src/components/screens/app/Boxes/Read/Sharing/index.js
  src/components/smart/Dialog/Boxes/Contact/index.js
  src/components/smart/Dialog/Upload/index.js
  src/components/smart/Dialog/Vault/Upload.js
  src/components/smart/Drawer/Account/Content/index.js
  src/components/smart/ThemeProvider/index.js
  src/constants/locales/en/common.json
  src/constants/locales/fr/common.json
  src/constants/validationSchemas/files.js
  src/hooks/useUploadStatus/index.js
  src/packages/auth/src/components/Card/Sso/index.js
  src/packages/ui/src/Accordion/index.js
  src/packages/ui/src/AccordionSummary/index.js
  src/packages/ui/src/AvatarGroup/Members/index.js
  src/packages/ui/src/Box/Message/index.js
  src/packages/ui/src/Footer/index.js
  src/packages/ui/src/Form/Field/Login/Identifier/Hidden/index.js
  src/packages/ui/src/Form/Field/Login/Secret/Hidden/index.js
  src/packages/ui/src/constants/sizes.js
  src/packages/ui/src/theme/index.js
Due: pages

Path conditions:
  publish:api: any of: src/packages/api/package.json
  publish:auth: any of: src/packages/auth/package.json
  publish:crypto: any of: src/packages/crypto/package.json
  publish:helpers: any of: src/packages/helpers/package.json
  publish:hooks: any of: src/packages/hooks/package.json
  publish:store: any of: src/packages/store/package.json
  publish:ui: any of: src/packages/ui/package.json
  build_maintenance: any of: maintenance/*
  pages: any of: src/packages/ui/**/*, src/packages/auth/**/*, styleguide/**/*, styleguide.config.js
